@charset "U*TF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: cadetblue;
}

main#calc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: -270px;
    transition: all .2s;
}

main.calc_ex{
    left: 0px !important;
    transition: all .2s;
}

div#principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid aquamarine;
    background-color: azure;
    width: 270px;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.411);
}

div#controle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 70px;
    background-color: rgba(127, 255, 212, 0.315);
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

div#controle:hover{
    border-bottom: 2px solid aqua;
    border-top: 2px solid aqua;
    border-right: 2px solid aqua;
}

/* -TITULO- */
section#nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 250px;
}

section#nome > p{
    font-size: 2em;
    margin-bottom: 8px;
}

/* -DISPLAY- */

section#display{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    margin-bottom: 8px;
}

p#dp{
    font-family: monospace !important;
    font-size: 1.5em;
    padding: 5px;
    background-color: lightgrey;
    width: 250px;
    text-align: right;
}

/* -TECLAS- */

section#teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    flex-wrap: wrap;
}

button.tcl{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border: 3px solid grey;
    background-color: darkgrey;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    margin: 1px;
    font-size: 1.2em;
}

button.tclOp{
    border: 3px solid #800 !important;
    background-color: #f44 !important;
}

button.tcl:hover{
    background-color: rgb(133, 133, 133);
}

button.tclOp:hover{
    background-color: rgb(202, 53, 53) !important;
}
