@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#arr{
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(172, 255, 47, 0.411);
    border: 4px solid greenyellow;
    padding: 10px;
    border-radius: 10px;
}

section#ent{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90vw;
    margin: 8px auto;
    background-color: rgba(127, 255, 212, 0.417);  
    border: 4px solid aqua;
    border-radius: 10px;
}

section#res{
    width: 90vw;
    margin: auto;
    background-color: rgba(220, 20, 60, 0.415);
    border: 4px solid crimson;
    padding: 10px;
    border-radius: 10px;
}

input#inp{
    width: 200px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 6px;
    box-shadow: inset 2px 2px 5px rgba(1, 116, 116, 0.301);
    font-size: 1.2em;
}

button#bt{
    width: 200px;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 1.1em;
    background-color: darkblue;
    color: aliceblue;
    cursor: pointer;
}

button#bt:hover{
    background-color: blue;
}
