div.cursos{
    margin: 8px;
    padding: 4px;
    width: 200px;
    border: 4px solid rgb(26, 26, 26);
    border-radius: 10px;
    background-color: chocolate;
    text-align: center;
    cursor: pointer;
}

div.cursos:hover{
    border-color: red;
}

div.c1{
    background-color: rgb(56, 56, 56);
    color: white;
}

div.c2{
    background-color: rgb(136, 136, 136);
    color: black;
}

.destaque{
    background-color: #800 !important; /*O important define que oq esta com essa configuração vai ser respeitado*/
    color: #fcc !important;
    border-color: red !important;
}
