@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;   
}

body{
    background-color: chocolate;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

section.caixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    margin-top: 30px;
    width: 300px;
    height: 500px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.349);
    background-color: aliceblue;
}

div.cursos{
    display: flex;
    justify-content: space-around;
    width: 200px;
    margin: 8px;
    border-radius: 15px;
    background-color: bisque;
    padding: 15px;
    border: 2px solid black;
    font-size: 1.2em;
}

section#cx1 > div:hover{
    background-color: chocolate;
    color: aliceblue;
    border: 3px solid brown;
    transition: .2s;
}

button{
    border: none;
    margin: 0px 15px;
    width: 150px;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: crimson;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.349);
}

button:hover{
    background-color: darkred;
    color: aliceblue;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.349);
    
    transform: translate(0px, -10px);
}

.select{
    background-color: chocolate !important;
    color: aliceblue !important;
    border: 3px solid rgb(77, 20, 20) !important;
}

i{
    
    cursor: pointer;
}
